@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Shrikhand&family=Trispace&display=swap');
*
{
    margin:0;
    padding:0;
    border-radius: 10px;
}

/*Default/ Light mode*/
body
{
    --main-color: white;
    --light-accent: #E4DAFF;
    --dark-accent:#70499e;
    --off-white: rgb(245, 213, 171);
    --box-shadow:5px 5px 5px #a7adb3;
    --light-dash:#E2E8F0;
    --dark-dash:#d4dbe0;
    --blue-accent:#C7EDE6;
    --logo-font:'Shrikhand',monospace;
    --main-font:'Trispace',monospace;
    --header-font:'Press Start 2P',monospace;
    --content-font:'Inconsolata',monospace;

    color:black;

}

/*Dark mode*/
body.dark
{
    --main-color: rgb(54, 54, 54);
    --light-accent: #70499e;
    --dark-accent:#351D61;
    --off-white: #e49f51;
    --box-shadow:5px 5px 5px #a7adb3;
    --light-dash:#adb1b4;
    --dark-dash:#5c5e5f;
    --blue-accent:#C7EDE6;
    color:white;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~MAIN~~~~~~~~~~~~~~~~~~~*/
.main-container
{
    height:100vh;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
/*~~~~~~~~~~~~~~~~~~~~~NAV BAR~~~~~~~~~~~~~~~*/
nav
{
    grid-area: 1/1/13/3;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--off-white);
    font-family: var(--header-font);
    text-align: center;
    font-size: .7rem;
}
.logo
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--logo-font);
    font-size:  clamp(1.5rem, 2vw, 2.5rem);
    color: var(--dark-accent);
    text-shadow: 4px 4px 4px var(--blue-accent);
    padding:10px;
}
.trash-icon
{
    width:clamp(100px,50%,150px);
}
.nav-menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:50vh;
}
.menu-icon
{
    width:50%;
    cursor:pointer;
    padding:5px 0;
}
.menu-icon:hover 
{
    transform:translateY(-5px);
}
.menu-icon:active
{
    transform: translateY(0px);
}
.logout
{
    padding:10px;
}
/*~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~*/
.header
{
    grid-area: 1/3/4/13;
    background-color: var(--main-color); 
}
/*~~~~~~~~~~~MAIN-DASH~~~~~~~~~~*/
.main-dash
{
    grid-area: 4/3/13/10;
    background-color: var(--light-dash);
}
/*~~~~~~~~~~~~~~~~~~~RIGHT MENU~~~~~~~~~~~~~~*/
.right-menu
{
    grid-area: 4/10/13/13;
    background-color: var(--light-accent);
}
/*~~~~~~~~~~~~~~~~~~MEDIA~~~~~~~~~~~~~~~~*/
@media only screen and (max-width: 810px)
{
    .main-container
    {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(12,1fr);
    }
    nav
    {
        grid-area: 1/1/13/2;
    }
    .header
    {
        grid-area: 1/2/4/5;
    }
    .main-dash
    {
        grid-area: 4/2/9/5
    }
    .right-menu
    {
        grid-row:auto;
        grid-column:2/5;
    }
}