@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Shrikhand&family=Trispace&display=swap');
*
{
    margin:0;
    padding:0;
}

body
{
    background-color: #E2E8F0;
    font-family: 'Trispace',monospace;
}

.container-main
{
    display:grid;
    grid-template-columns: 1fr 4fr 1.5fr;
    grid-template-rows: 1fr 4fr;
    background-color:  #E2E8F0;
    height:100vh;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~LEFT MENU~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.left-menu
{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: flex-start;
    grid-area:1/1/3/2;
    background-color: antiquewhite;
    border-radius:10px;
    width:clamp(2ch,100%,40ch);
    box-shadow: 5px 5px 5px #a7adb3;
}
.logo
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:sticky;
    top:0;
}
.logo p
{
    font-family: 'Shrikhand',cursive;
    font-size: clamp(1rem, 2vw, 2.5rem);
    color:#70499e;
    padding:20px;
    text-shadow: 4px 4px 4px#C7EDE6;
}
.trash-icon
{
    width:50%;
}
.menu
{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height:50vh;
    position:fixed;
    top:250px;
}
.menu-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P';
    font-size: .7rem;
}
.menu-icon
{
    width:45%;
    padding: 10px 0;
    cursor: pointer;
}
.menu-icon:hover
{
    transform:translateY(-5px);
}
.menu-icon:active
{
    transform: translateY(0px);
}
.logout
{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    padding-top:250px;
    font-family: 'Press Start 2P';
    font-size: .7rem;
    position:fixed;
    bottom:100px;
}
.logout-icon
{
    transform:rotateY(180deg);
    width:50%;
    cursor: pointer;
}
.logout-icon:hover
{
    transform: translateY(-5px);
}
.logout-icon:active
{
    transform: translateY(0px);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header
{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-area: 1/2/2/4;
    background-color:#FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #a7adb3;
    position:sticky;
    top:0;
}
.search
{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:start;
    grid-area:1/1/2/3;
    padding:10px;
    box-sizing: border-box;
}
.crystal-ball
{
   height:6vh;
}
.crystal-ball:hover
{
    transform: translateY(-5px);
}
.search-bar
{
    width: 70%;
}
form
{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: center;
}
#search-bar
{
    background-color:#C7EDE6; 
    height:3vh;
    width:clamp(10ch,90%,150ch);
    border-radius: 10px;
    margin:10px;
}
.greeting-box
{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content:flex-start;
    grid-area:2/1/3/3;
    padding:10px;
    font-family: 'Press Start 2P';
    font-size: .6rem;
}
.greeting-logo
{
    width:clamp(10px,50%,80px);
    border-radius:50%;
    padding:10px;
}
.greeting-text
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.user-name
{
    font-size: 1rem;
    padding: 10px 0;
}
.account-box
{
    display:flex;
    flex-flow:row nowrap;
    align-items:flex-start;
    grid-area:1/3/2/4;
    justify-content:flex-end;
    padding:10px;
    box-sizing: border-box;
}
.account-logo
{
    height:5vh;
    border-radius: 50%;
    padding:5px;
    cursor: pointer;
}
.account-logo:hover
{
    transform: translateY(-5px);
}
.new-project
{
    grid-area:2/3/3/4;
   display: flex;
   flex-direction: row;
   align-items: center;
}
button
{
    padding:5px;
    background-color:#E4DAFF;
    border:none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #C7EDE6; 
}
.new-project button
{
    position:relative;
    right:20px;
    padding:10px;
}
button:hover
{
    background-color: antiquewhite;
}
button:active
{
    background-color: antiquewhite;
    box-shadow: 2px 2px 2px #C7EDE6; 
    transform: translateY(5px);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~RIGHT MENU~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.right-menu
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    grid-area:2/3/3/4;
    width:clamp(35ch,35%,150ch);
    background-color:#E4DAFF;
    border-radius:10px;
    box-shadow: 5px 5px 5px #a7adb3;
}
.right-container
{
    background-color:antiquewhite;
    border-radius: 10px;
    margin:20px;
    padding:10px;
    box-shadow: 5px 5px 5px #a7adb3;
}
.right-container .title
{
    font-family: 'Press Start 2P';
    font-size: .7rem;
}
.link-tree
{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 10px;
    margin:10px;
    padding:10px;
}
.link-tree-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:10vh;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    margin:10px;
    border-left: 5px solid #70499e;
    box-shadow: 5px 5px 5px #a7adb3;
}
.link-tree-box:hover
{
    transform: translateY(5px);
}
.link-tree-box:active
{
   transform: translateY(2px);
}
.link-tree-box a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.link-tree-icon
{
    width: 35%;
}
.community-box
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-left: 5px solid #70499e;
    box-shadow: 5px 5px 5px #a7adb3;
    border-radius: 10px;
    margin:20px 10px;
    padding:10px;
    cursor: pointer;
}
.community-box:hover
{
    transform: translateY(-5px);
}
.user-box
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    padding: 5px 0;
    font-family: 'Inconsolata';
}
.user-icon
{
    width:12%;
    border-radius: 50%;
}
.user
{
    font-family: 'Trispace';
    font-size: 1rem;
    font-weight: bolder;
    padding: 5px 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MAIN DASH~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.main-dash
{
    grid-area:2/2/3/4;
    display:flex;
    flex-flow:row wrap;
    align-items: stretch;
    justify-content: center;
    background-color:transparent;
}
.projects
{
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    border-radius:10px;
    width:clamp(35ch,65%,150ch);
}
.container-title
{
    padding:20px;
    align-self:flex-start;
    font-family: 'Press Start 2P';
    font-size: .7rem;
}
.section-container
{
    display:flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content: space-evenly;
}
.card
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width:clamp(30ch,45%,40ch);
    margin:10px;
}
.card-content
{
    background-color:white;
    border-radius: 10px;
    border-left: 10px solid #70499e;
    box-shadow: 5px 5px 5px #a7adb3;
    padding:10px;
    font-family: 'Inconsolata';
    font-size: 1.2rem;
    cursor: pointer;
    height:16vh;
}
.card-content h3
{
    padding:10px 0;
    font-weight: bolder;
}
.card-content p
{
    font-size: 1rem;
}
.finished-section
{
    background-color: #b5bcc2;
    border-radius: 10px;
}
#finished .card-content
{
    box-shadow: 5px 5px 5px #717477;
}
#finished .card-content:hover
{
    transform: translateY(5px);
    box-shadow: 2px 2px 2px #717477;
}
#finished .card-content:active
{
    box-shadow: none;
    transform: translateY(1px);
}
.projects .card-content:hover
{
    transform: translateY(5px);
    box-shadow:2px 2px 2px #a7adb3;
}
.projects .card-content:active
{
    box-shadow: none;
    transform: translateY(1px);
}
.card-icons
{
    align-self: flex-end;
    padding: 8px 0;
    width: fit-content;
    text-align: end;
}
.card-icon
{
    width:10%;
    cursor: pointer;
}
.card-icon:hover
{
    transform: translateY(-5px);
}
.card-icon:active
{
    transform: translateY(0px);
}


